:root {

    /*--input-color: #99A3BA;*/
    --input-color: #4a5651;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

}

/*.superInput {


    display: block;
    width: 10%;
    padding: 2px 16px;
    line-height: 20px;
    font-size: 14px;
    !*font-weight: 500;*!
    !*font-family: inherit;*!
    border-radius: 6px;
    !*-webkit-appearance: none;*!
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
}*/

.superInput {

    width: 15%;
    /*box-sizing: border-box;*/

    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/src/p2-homeworks/h6/common/c4-SuperEditableSpan/pen.png');
    background-position: 0px 3px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.superInput:focus {
    width: 20%;
}


.spanClass {
    display: inline-block;
    width: 10%;
    height: 18px;
    cursor: pointer;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 16px;
    font-palette: dark;
    background-color: white;
    background-image: url('/src/p2-homeworks/h6/common/c4-SuperEditableSpan/pen.png');
    background-position: 0px 3px;
    background-repeat: no-repeat;
    /*margin-outside: 30px;*/
    padding: 6px 20px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.spanClass:focus {
    width: 20%;
}


.errorInput {
    font-size: 14px;
    border: 3px solid red;
    background: var(--group-background);
}

.error {
    color: red;
}
