:root {

    /*--input-color: #99A3BA;*/
    --input-color: #4a5651;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

}
.superInput {


    display: block;
    width: 10%;
    padding: 2px 16px;
    line-height: 20px;
    font-size: 14px;
    /*font-weight: 500;*/
    /*font-family: inherit;*/
    border-radius: 6px;
    /*-webkit-appearance: none;*/
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
}
.errorInput {
    font-size: 14px;
    border: 3px solid red;
    background: var(--group-background);
}
.error {
    color: red;
}
